@page
@model ZeroTouchHR.Pages.AboutUs.indexModel
@{
    ViewData["Title"] = "About Us";
}

    <div class="text-center">
        <h1 class="display-4">Set new hires up for success by using our OnBoarding HR Platform</h1>
        <p  class="text-left">
            With the right strategy and technology, new hires are set up to become productive and active members of the company faster and immediately ingrained in the company culture..

        </p>

        <p class="text-left">Automated and digitized new hire paperwork including automated E-verify process for the USA, Canada, UK and others.</p>

        <p class="text-left">Simplified and unified workflow by leveraging standard out of the box role based permissions.</p>
        
        <p class="text-left"> Enhanced decision making through access to real-time, comparable and detailed HR information</p>


    </div>

