@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Zero Touch HR Portal</h1>
    <p>
       The One Stop Shop that provides an OnBoarding platform that automates HR manual processes.

    </p>
    
</div>
