@page
@model ZeroTouchHR.Pages.User.ContactUsModel
@{
}



<div class="jumbotron">

    @*<div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>*@
    <h2 >Contact Us</h2>


    <p class="card-text">Phone Number: +1 216 539 2077</p>

    <p class="font-weight-bold"> Working Hours</p>
    <div class="row">
        <div class="col-md-3">

            <p>Monday: 8 AM - 5 PM</p>
            <p>Wednesay: 8 AM - 5 PM</p>
            <p>Fridayday: 8 AM - 5 PM</p>
        </div>
        <div class="col-md-3">

            <p>Tuesday: 8 AM - 5 PM</p>
            <p>Thursday: 8 AM - 5 PM</p>
        </div>

    </div>

   

    @*<p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>*@

    <p class="text-muted">Stay Home. Stay Safe.</p>

</div>