@page
@model ZeroTouchHR.Pages.User.ThankyouModel
@{
}



<div class="jumbotron">
    <h1 class="display-4">Thanks for uploading.</h1>
    <p class="lead">We started working on your profile creation. We will get back to you soon.</p>
    <hr class="my-4">
    <p>Stay Home. Stay Safe.</p>
    @*<p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>*@
</div>