@page
@model ZeroTouchHR.Pages.EmployeeList.CreateModel
@{
}


<br />

<h2 class="text-info"> Create New User </h2>
<br />

<div class="border container" style="padding:30px">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="border container" style="padding:40px">


            <div class="form-group row">

                <div class="col-md-5">

                    <label for="First Name">First Name</label>
                    <input asp-for="Employee.FName" class="form-control" placeholder="Enter First Name" />
                    <span asp-validation-for="Employee.FName" class="text-danger"></span>

                </div>

                <div class="col-md-5">

                    <label for="First Name">Last Name</label>
                    <input asp-for="Employee.LName" class="form-control" placeholder="Enter Last Name" />
                    <span asp-validation-for="Employee.LName" class="text-danger"></span>

                </div>

                <div class="col-md-2">

                    <label for="First Name">Title</label>
                    <input asp-for="Employee.title" class="form-control" placeholder="Male/Female/Other" />
                    <span asp-validation-for="Employee.LName" class="text-danger"></span>

                </div>

            </div>

            <div class="form-group row">
                <div class="col-md-12">

                    <label for="First Name">Address Line1</label>
                    <input asp-for="Employee.AddressLine1" class="form-control" placeholder="Enter Address Line1" />
                    <span asp-validation-for="Employee.AddressLine1" class="text-danger"></span>
                </div>


            </div>
            <div class="form-group row">
                <div class="col-md-6">

                    <label for="Address Line 2">Address Line2</label>
                    <input asp-for="Employee.AddressLine2" class="form-control" placeholder="Enter Address Line2" />
                    <span asp-validation-for="Employee.AddressLine2" class="text-danger"></span>
                </div>

                <div class="col-md-6">

                    <label for="Phone Number">Phone Number</label>
                    <input asp-for="Employee.PhoneNumber" class="form-control" placeholder="Enter Phone Number" />
                    <span asp-validation-for="Employee.PhoneNumber" class="text-danger"></span>
                </div>


            </div>



            <div class="form-group row">

                <div class="col-md-5">

                    <label for="City">City</label>
                    <input asp-for="Employee.City" class="form-control" placeholder="Enter City Name" />
                    <span asp-validation-for="Employee.City" class="text-danger"></span>

                </div>

                <div class="col-md-5">

                    <label for="State">State</label>
                    <input asp-for="Employee.State" class="form-control" placeholder="Enter State Name" />
                    <span asp-validation-for="Employee.State" class="text-danger"></span>

                </div>

                <div class="col-md-2">

                    <label for="Zip Code">Zip</label>
                    <input asp-for="Employee.Zip" class="form-control" placeholder="Zip Code" />
                    <span asp-validation-for="Employee.Zip" class="text-danger"></span>

                </div>

            </div>
        </div>
        <div class="border container" style="padding:40px">

            <div class="form-group row">
                <div class="col-md-5">

                    <label for="Email">EmailAddress</label>
                    <input asp-for="Employee.Email" class="form-control" placeholder="Enter Emailaddress" />
                    <span asp-validation-for="Employee.Email" class="text-danger"></span>
                </div>

                <div class="col-md-5">

                    <label for="Password">Password</label>
                    <input asp-for="Employee.Password" class="form-control" type="password" placeholder="Create Password" />
                    <span asp-validation-for="Employee.Password" class="text-danger"></span>
                </div>
                
                
                <div class="col-md-2">

                    <label for="UserName">UserName</label>
                    <input asp-for="Employee.UserName" class="form-control" placeholder=" Enter UserName" />
                    <span asp-validation-for="Employee.UserName" class="text-danger"></span>

                </div>

            </div>
        </div>
        <br>
        <div class="form-group row ">

            <div class="col-3 offset-3">
                <input type="submit" value="create" class="btn btn-lg btn-outline-success" />
            </div>
            <div class="col-3">

                <a asp-page="Index" class="btn btn-lg btn-outline-info">Back To List</a>
            </div>

        </div>

    </form>
</div>


@section Scripts{

<partial name="_validationScriptsPartial"/>


 }